{% extends "CwpAdminBundle:Layout:base.html.twig" %}

{% block crumbs %}
    <h1 class="page-title">博客类别管理</h1>
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> </li>
        <li><a href="users.html">Users</a> </li>
        <li class="active">jsmith</li>
    </ul>
{% endblock %}
{% block main %}
    <div class="btn-toolbar list-toolbar">
        <a class="btn btn-primary" href="{{path('cwp_admin_addcat')}}"><i class="fa fa-plus"></i>添加博客类别</a>
        <button class="btn btn-default">导入</button>
        <button class="btn btn-default">导出</button>
        <div class="btn-group">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>名称</th>
                <th>同级排序</th>
                <th>创建时间</th>
                <th>角色</th>
                <th style="width: 3.5em;">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.rank }}</td>
                <td>{{ row.ctime|date('Y-m-d H:i:s') }}</td>
                <td>{{ row.depth }}</td>
                <td>
                    <a href="__APP__/user/add/action/edit/id/{$v.id}.html"><i class="fa fa-pencil"></i></a>
                    <a  role="button" onclick='del("Admin","{$v.id}")' oid="{$v.id}"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        {{show | raw}}
    </ul>

    <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="fa fa-warning modal-icon"></i>你确定你要删除么？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                    <button class="btn btn-danger" id="del-btn" onclick="del()">删除</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            
        });
        function del(classname,id){
            $('#myModal').modal('show');
        };
    </script>
{% endblock %}
